/* dark mode */
:root {
  --primary: #622aff;
  --primary-variant: #331c52;
  --secondary: #dccfed;
  --background: #291c3a;
  --surface: #331c52;
  --error: #cf6679;
  --on-primary: #ffffff;
  --on-secondary: #253034;
  --on-background: #e1ebed;
  --on-surface: #e1ebed;
  --on-error: #242424;

  --shadow-sm: 0 0.16rem 0.32rem 0 rgba(255, 255, 255, 0.05);
  --shadow-md: 0 0.64rem 0.96rem -0.16rem rgba(255, 255, 255, 0.1),
    0 0.32rem 0.64rem -0.16rem rgba(255, 255, 255, 0.06);
  --shadow-lg: 0 1.6rem 2.4rem -0.48rem rgba(255, 255, 255, 0.1),
    0 0.64rem 0.96rem -0.32rem rgba(255, 255, 255, 0.05);

    
}

/* light mode */
:root {
  --primary: #622aff;
  --primary-variant: #dccfed;
  --secondary: #331c52;
  --background: #ffffff;
  --surface: #e1ebed;
  --surface: #ececec;
  --error: #b00020;
  --on-primary: #ffffff;
  --on-secondary: #ffffff;
  --on-background: #253034;
  --on-surface: #242424;
  --on-error: #ffffff;

  --shadow-sm: 0 0.16rem 0.32rem 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 0.64rem 0.96rem -0.16rem rgba(0, 0, 0, 0.1),
    0 0.32rem 0.64rem -0.16rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 1.6rem 2.4rem -0.48rem rgba(0, 0, 0, 0.1),
    0 0.64rem 0.96rem -0.32rem rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Creating animations for dark mode */
  transition: background-color 0.3s, border 0.3s;
}

html {
  font-size: 62.5%;
}
